.Player {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.PlayerTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.PlayerTime p {
  font-size: 10px;
}